<div class="eventshow">
	<h2 class="header center orange-text">Events</h2>

	<div class="row center">
		<div class="col s12 m6 l6">
			<div class="card center">
				<div class="card-content">
					<div class="card-title orange-text">Title: <%= @event.title%></div>
					<div class="card-title">Date: <%= @event.date%></div>
					<div class="card-title">
						<% if @event.annual == true %>
							<%= "Annual: Yes" %>
						<% else %>
							<%= "Annual: No" %>
						<% end %>
						
					</div>
					<div class="card-title">Notes: <%= truncate(@event.notes, length:20) %>...</div>
				</div>
				
				<% if @event.user == current_user %>
					<div class="card-action">
						<%= link_to 'Edit', edit_event_path(@event), class: "waves-effect orange btn"%>
						<%= link_to "Back", user_event_path(current_user.id), class: "waves-effect orange btn"%>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
