<div class="eventshow">
	<h2 class="header center orange-text"><%= @user.first_name %>'s Events</h2>
	<% if current_user != @user %>
		<%= render "friendprofile" %>
	<% end %>

	<div class="row center">
		<div class="col s12 m6 l6">
			<div class="card center">
				<div class="card-content">
					<div class="card-title orange-text">Title: <%= @event.title%></div>
					<div class="card-title">Date: <%= @event.date%></div>
					<div class="card-title">
						<% if @event.annual == true %>
							<%= "Annual: Yes" %>
						<% else %>
							<%= "Annual: No" %>
						<% end %>
						
					</div>
					<div class="card-title">Notes: <%= @event.notes%></div>
				</div>
				<div class="card-action">
					<% if @event.user == current_user %>
						<%= link_to 'Edit', edit_event_path(@event), class: "waves-effect orange btn"%>
					<% end %>
					<%= link_to 'Back', user_event_path(@event.user), class: "waves-effect orange btn" %>
				</div>
			</div>
		</div>
	</div>
</div>