<div class="userevents">
	<h2 class="header center orange-text">Events</h2>

	<% if User.find(params[:id]) == current_user %>
		<%= link_to 'New Event', new_event_path, class: "waves-effect light-blue lighten-1 btn", id: "newevent-btn" %>
	<% end %>

	<br>

	<div class="row">
		<% @events.each do |event| %>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-content center">
					    <span class="card-title orange-text"><%= event.title%></span>
						<p>Created on: <%= event.created_at.strftime("%m/%d/%Y %I:%M%p") %></p>
						<p class="notes">Notes: <%= truncate(event.notes, length:20) %></p>
						<p><%= link_to '[Read More]', event_path(event.id)%></p>
					</div>
					<% if event.user == current_user%>
						<div class="card-action center">
							<%= link_to "Edit", edit_event_path(event), class: "waves-effect orange btn"%>
							<%= link_to "Delete", "#modal1", class: "waves-effect red btn modal-trigger" %>
						</div>
						<!-- Modal Structure -->
						<div id="modal1" class="modal center">
							<div class="modal-content">
									<h6>If you delete this Event, you will not be able to retrieve it again. Do you want to proceed?</h6>
							</div>
							<div class="modal-footer center">
									<%= link_to "Yes", event, method: :delete, class: "waves-effect red btn left" %>
									<%= link_to "Cancel", "", class: "modal-action modal-close waves-effect light-blue lighten-1 btn right" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
		