<div class="template">
  <div class="row">
    <div class="leftpanel">
      <div class="col s12 m3 l3 orange white-text" id="left-section"> 
          <p>  </p>
        </div>  
    </div>

    <div class="mainpanel">
      <div class="col s12 m9 l9"> 
        <h1>Events</h1>
        <div class="row">
          <% @events.each do |event| %>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-content">
                  <span class="card-title orange-text"><%= event.title%></span>
                  <p>Created on: <%= event.created_at.strftime("%m/%d/%Y %I:%M%p") %></p>
                  <p class="notes">Notes: <%= event.notes %></p>
                  <p><%= link_to '[Read More]', event%></p>
                </div>
                <div class="card-action">
                  <% if event.user == current_user%>
                  <%= link_to "Edit", edit_event_path(event), class: "waves-effect orange btn"%>
                  <%= link_to "Delete", event, method: :delete, data: { confirm: 'Are you sure?'}, class: "waves-effect red btn" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= link_to 'New Event', new_event_path, class: "waves-effect orange btn" %>
      </div>
    </div>  
  </div>
</div>

