<div class="col s10 m10 l10" id="welcomepage">
	<div class="slider full">
		<ul class="slides">
			<li>
				<%= image_tag ("img1.jpg")%>
				<div class="caption center-align" id="slidercaption">
					<h2 class="header center orange-text">Welcome to <em>U</em>GiftMe!</h2>
					<h5 class="header col s12 light">Your new location for finding the right gift for the right friend.</h5>
				</div>
			</li>

			<li>
				<%= image_tag ("img2.jpg")%>
				<div class="caption left-align" id="slidercaption">
					<h2 class="header center orange-text">Add Friends.</h2>
					<h5 class="header center col s12 light">Best friends always give GIFTS!</h5>
				</div>
			</li>

<<<<<<< HEAD
			<li>
				<%= image_tag ("img3.jpg")%>
				<div class="caption right-align" id="slidercaption">
					<h2 class="header center orange-text">Create Events and Wishlists!</h2>
					<h5 class="header center col s12 light">Let your Friends know about your upcoming Events, and share your Gift desires with them!</h5>
				</div>
			</li>
=======
	<div class="col s12 m6 l6"> 
	  	<div class="section no-pad-bot" id="index-banner">
		    <div class="container">
		      <br><br>
		      <h1 class="header center orange-text">Welcome to <em>U</em>GiftMe</h1>
		      <div class="row center">
		        <h5 class="header col s12 light">Your new location for finding the right gift for the right friend.</h5>
		      </div>
		    </div>
		</div>
	</div>

	
  <div class="col s12 m3 l3"> 
	  <p>  </p>
  </div>
</div>

<div class="slider">
	<ul class="slides">
		<li>
			<%= image_tag ("img1.jpg")%>
			<div class="caption center-align">
			  <h3>Gift of the day.</h3>
			  <h5 class="light grey-text text-lighten-3">Special gift deals for special friends.</h5>
			</div>
		</li>
		<li>
		<%= image_tag ("img2.jpg")%>
		<div class="caption left-align">
		  <h3>Check out the Products</h3>
		  <h5 class="light grey-text text-lighten-3">Pick ones you like the most</h5>
		</div>
		</li>
		<li>
		<%= image_tag ("img3.jpg")%>
		<div class="caption right-align">
		  <h3>Wishlist and Events!</h3>
		  <h5 class="light grey-text text-lighten-3">Help me help you help me by helping you.</h5>
		</div>
		</li>
		<li>
		<%= image_tag ("img4.jpg")%>
		<div class="caption center-align">
		  <h3>Add all of your Friends!</h3>
		  <h5 class="light grey-text text-lighten-3">Best friends always give gifts.</h5>
		</div>
		</li>
	</ul>
</div>
			</div>
		</div>  
>>>>>>> 9b2507c61543d39e25b8d6596c0eedf628071d80

			<li>
				<%= image_tag ("img4.jpg")%>
				<div class="caption center-align" id="slidercaption">
					<h2 class="header center orange-text">Check out the Products.</h2>
					<h5 class="header center col s12 light">Want Gift ideas, you can pick from the Products and add them to your Wishlist.</h5>
				</div>
			</li>
		</ul>
	</div>
</div>