<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<h1>Friends</h1>

<% current_user.friends.each do |friend|%>
	<p><%=friend.email%></p>
	<%=link_to "Remove", friends_path(friend_id:friend.id), :method => :delete%>
<% end %>


<h4><%=current_user.requested_friends.length%> Friend Request</h4>
<% current_user.requested_friends.each do |friend|%>
	<p><%=friend.email%></p>
	<%=link_to "Accept", friends_path(friend_id:friend.id), :method => :put %>
	<%=link_to "Decline", friends_path(friend_id:friend.id), :method => :delete %>
<% end %>


<h4><%=current_user.pending_friends.length%> Pending Friend Request</h4>
<% current_user.pending_friends.each do |friend|%>
	<p><%=friend.email%></p>
<% end %>

