<p id="notice"><%= notice %></p>

<h1>Wishlists page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Info</th>
      <th>Call Dibs?</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
        <td><%= wishlist.title %></td>
        <td><%= wishlist.price %></td>
        <td><%= wishlist.info %></td>
        <td><%= wishlist.dibCheck %></td>
        <td><%= link_to 'Show', wishlist %></td>
        <td><%= link_to 'Edit', edit_wishlist_path(wishlist) %></td>
        <td><%= link_to 'Destroy', wishlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wishlist', new_wishlist_path %>
<br/>
<%= link_to 'Profile', test_profile_path %>
