<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wishlist.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wishlist.price %>
</p>

<p>
  <strong>Info:</strong>
  <%= @wishlist.info %>
</p>

<p>
 
  <%= @wishlist.dibcheck %>


<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', user_wishlist_path(current_user.id) %>
