<div class = "wishlist_show center">
  <h2 class="header center orange-text">Wishlist</h2>
  <% if current_user != @user %>
    <%= render "friendprofile" %>
  <% end %>
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card white">
          <span class="card-content black-text center" >
            <p>
              <div class="card-title orange-text">Title: <%= @wishlist.title %> </div>
            </p>
            <p>
              <div class="card-title">Price: <%= @wishlist.price  %> </div>
            </p>
            <p>
                <div class="card-title">Info: <%= @wishlist.info %></div>
            </p>
            <p>
                <div class="card-title">Event: 
                  <% if @wishlist.event_id %>
                      <% if Event.exists?(@wishlist.event_id) %>
                          <%= Event.find(@wishlist.event_id).title %>
                      <% end %>
                  <% else %>
                  <% end %>
                </div>
            </p>
            <div class = "card-action">
          <% if @wishlist.user == current_user %>
              <%= link_to 'Edit', edit_wishlist_path(@wishlist), class: "waves-effect orange btn" %> 
              <%= link_to 'Back', :back, class: "waves-effect orange btn" %>
          <% else %>
          <%= link_to "Back", user_wishlist_path(@wishlist.user.id), class: "waves-effect orange btn"%>
          <% end %>
          </div>
  			</span>
  		</div>
  	</div>
  </div>
</div>

