<div class="wishlistindex">
    <h2 class="header center orange-text">Wishlist</h2>

    <% if User.find(params[:id]) == current_user %>
        <%= link_to 'New Wishlist Item', new_wishlist_path, class: "waves-effect orange btn" %>
    <% end %>


    <div class="col s6 m4 center">
                <%= form_tag called_dibs_wishlists_path, method: :put do%>

                    <div class ="check_box">
                        <table>
                            <thead>
                                <tr>
                                    <th><span class="card-title orange-text">Title</span></th>
                                    <th><span class="card-title orange-text">Price</span></th>
                                    <th><span class="card-title orange-text">Event?</span></th>
                                    <th><span class="card-title orange-text">Dibs?</span></th>
                                    <th colspan="5"></th>
                                    </tr>
                            </thead>

                            <tbody>
                                <% for wishlist in @wishlist %>
                                    <tr>
                                        <td><%= wishlist.title[0..20] %>...
                                            <% if current_user.id == @user.id %>
                                                <%= link_to 'Show', wishlist %>/<%= link_to 'Edit', edit_wishlist_path(wishlist) %>/<%= link_to 'Destroy', wishlist, method: :delete, data: { confirm: 'Are you sure?' } %>
                                            <% end %> 
                                        </td>
                                        <td><%= wishlist.price %></td>
                                        <td>
                                            <% if wishlist.event_id  %>
                                                <%= Event.find(wishlist.event_id).title %>
                                            <% else %>
                                                <br>
                                            <% end %>
                                        </td>
                                        
                                        <!-- checks to see who is looking at form -->
                                        <td>
                                            <% if current_user == @user %>
                                                <!-- need to set remove for the current user -->
                                                <% if wishlist.dibs_user != nil %>
                                                    This spot has been taken by <%= User.find(wishlist.dibs_user).username %>  <%= link_to "Remove", remove_wishlists_path(id: wishlist.id), method: :put %>
                                                <% else %>
                                                    Get your friends to call dibs!
                                                <% end %>

                                            <% elsif not Friendship.exist?(current_user,@user)%>
                                                You are not friends with this user yet.
                                            <% else %>
                                                <!-- goes into who has the check-->
                                                <% if wishlist.dibs_user == current_user.id %>
                                                <!-- need to find a way to change from true to false -->
                                                    You have called dibs <%= link_to "Remove", remove_wishlists_path(id: wishlist.id), method: :put %>.
                                                <!-- this line is one I need to figure out how to change -->
                                                <% else %>
                                                    <% if wishlist.dibs_user != nil %>
                                                    <!-- this line will show who has it dibbed -->
                                                        This spot has been taken by <%= User.find(wishlist.dibs_user).username %>
                                                    <!-- once i figure out how to set it -->
                                                    <% else %>
                                                        <%= check_box_tag "dibcheck[]", wishlist.id %>
                                                    <% end %>
                                                <% end %>
                                                <!-- -->
                                            <% end %>
                                        </td>

                                        
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>  
                    </table>
                </div>
                <br>
                <div class="dibsbtn right white orange-text"><span>Want to buy <%= @user.first_name %> the checked gift/s? Call DIBS! on them now! </span> ..<button class="waves-effect waves-light light-blue lighten-1 btn" style = "float:right;"><%= submit_tag "DIBS!" %></button></div>
            
    </div>
</div>
