<div class="usercard">
    <%if current_user %>
        <% if @user.nil? %>
            <% @user = current_user %>
        <% end %>

        <div class="card" id="usercard">
            <div class="usercardimage center">
                <%=image_tag avatar_img(@user), class: "circle responsive-img", id: "profile-pic" %> 
            </div>

            <div class="card-content center">
                <span class="black-text" id="usercard">
                  <p><%=link_to "#{@user.full_name}", profile_path(@user.id) %></p>
                  <p><%= @user.username %></p>
                  <p><%= @user.birthday%></p>
                  <%if current_user != @user && (not Friendship.exist?(current_user, @user)) %>
                      <%=link_to "Add Friend", friendships_path(friend_id: @user.id),:method=>:post, data: { confirm: "Are you sure?" } %>
                  <%elsif current_user == @user %>
                      <%=link_to "Edit User Info", edit_user_registration_path %>
                  <%end%>
                  <br>
                </span>
            </div>
        </div>
    <% end %>
</div>