<!DOCTYPE html>
<html>
<head>
  <title>Giftme</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
</head>

<body>
	<nav class="light-blue lighten-1" role="navigation">
	    <div class="nav-wrapper container">
	    <%= link_to image_tag("logo.png", class:"brand-logo", id:"logo-container"), root_path%><%=%>
	      <ul class="right hide-on-med-and-down">
	        <%= render 'nav'%>
	      </ul>

	      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
	        <%= render 'nav'%>
	      </ul>
	      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	    </div>
	</nav>

	<%= yield %>

	<footer class="page-footer light-blue lighten-1">
	    <div class="container">
	      <div class="row">
	        <div class="col l6 s12">
	          <h5 class="white-text">About GiftMe</h5>
	          <p class="grey-text text-lighten-4">We are a team of Coding Bootcamp-ers working on this project to showcase what we have learned during the past 8 weeks. Topics learned: Ruby on Rails, HTML, CSS, JavaScript, jQuery, Deployment, Domain Modeling, APIs, Databases, Materialize, Model Associations, Git, GitHub, and Ruby Gems.</p>


	        </div>
	        <div class="board col l3 s12">
	          <h5 class="white-text">Our Board</h5>
	          <ul>
	            <li><a class="white-text" href="https://www.linkedin.com/in/ahmadatiyah
				" target="_blank">Ahmad Atiyah</a></li>
	            <li><a class="white-text" href="https://www.linkedin.com/in/linyang18" target="_blank">Lin Yang</a></li>
	            <li><a class="white-text" href="https://www.linkedin.com/in/travissteadman" target="_blank">Travis Steadman</a></li>
	          </ul>
	        </div>
	        <div class="col l3 s12">
	          <h5 class="white-text">Connect</h5>
	          <ul>
	            <li><a class="white-text" href="#!">Link 1</a></li>
	            <li><a class="white-text" href="#!">Link 2</a></li>
	            <li><a class="white-text" href="#!">Link 3</a></li>
	            <li><a class="white-text" href="#!">Link 4</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	    <div class="footer-copyright">
			<div class="container">
				Made by <a class="orange-text text-lighten-3" href="http://materializecss.com"><a class="white-text" href="https://github.com/aatiyah
				" target="_blank">Ahmad Atiyah</a>, <a class="white-text" href="https://github.com/darktef" target="_blank">Lin Yang</a>, and <a class="white-text" href="https://github.com/TSTEADMAN21" target="_blank">Travis Steadman</a></a>
			</div>
	    </div>
	</footer>
</body>
</html>

